# [interactive]
#     diffFilter = delta --features=interactive

# [delta]
#     features = decorations
#     line-numbers = true

[merge]
  conflictstyle = diff3

[rerere]
	enabled = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[push]
	default = current
[core]
	editor = emacsclient -a '' -c
	quotepath = false
[github]
	user = plux
	oauth-token = 778b53933194e2d9a29210c45636db11e4702cd8
[magit]
	hideCampaign = true
[commit]
	gpgsign = true

[alias]
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

[url "git@github.com:"]
	insteadOf = https://github.com/

[includeIf "gitdir:~/.password-store/"]
	path = ~/.gitconfig_kivra

[includeIf "gitdir:~/kivra/"]
	path = ~/.gitconfig_kivra

[includeIf "gitdir:~/cisco/"]
	path = ~/.gitconfig_cisco

[includeIf "gitdir:~/tailf/"]
	path = ~/.gitconfig_cisco
        
[includeIf "gitdir:~/tmp/otp-cache/"]
	path = ~/.gitconfig_cisco

[includeIf "gitdir:~/git/"]
	path = ~/.gitconfig_plux
[pull]
	rebase = merges
[credential "https://github.com"]
	helper = !gh auth git-credential
[init]
	templatedir = /home/hakan/.git-templates
